doctype html
html(lang='en')
  head
    title Jade
  // inject:css
  // endinject
  // inject:js
  // endinject
  style.
    .content {
      margin-top: 5%;
      text-align: center;
    }

    .btn {

    }

    .middle {
      margin: 1% 20%;
    }

  script.
    document.addEventListener('DOMContentLoaded', function(event) {
      document.getElementById('select').addEventListener('change', function(event) {
        if (document.getElementById('text').className.split(' ').length === 3 ||
        (!(document.getElementById('text').className.indexOf('infinite') > -1) &&
          document.getElementById('text').className.split(' ').length === 2)) {
          document.getElementById('text').className = document.getElementById('text').className.substring(0, document.getElementById('text').className.lastIndexOf(' '));
        }
        document.getElementById('text').className += ' ' + this.value;
      });

      document.getElementById('infinite').addEventListener('change', function(event) {
        document.getElementById('text').className = document.getElementById('text').className.indexOf('infinite') > -1 ?'middle' : 'middle infinite';
      });
    });

  body
    .content
      h1.tada Animated. A stylus written animation library
      select(name='select')#select
        option(value='flash') flash
        option(value='tada') tada
        option(value='float') float
      //- button#btn animate
      input(type='checkbox')#infinite
      | infinite
      p#text.middle
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada, nulla sit amet faucibus gravida, velit nisi dapibus magna, eu tincidunt neque arcu eget ex. Cras id dui sit amet augue cursus aliquam vulputate quis diam. Fusce lorem magna, volutpat sit amet urna sodales, luctus aliquet nulla. Sed sed lobortis.

