$name = flash

@keyframes {$name}
  from, to
    animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1)

    0%, 50%, 100%
      opacity: 1
    33%, 66%
      opacity: 0.25
    25%, 75%
      opacity: 0

.{$name}
  animation-delay: 0s
  animation-duration: 1.5s
  animation-name: $name
