$name = float

@keyframes {$name}
  from, to
    animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1)

    0%, 100%
      transform: translateY(0%)
    50%
      transform: translateY(25%)

.{$name}
  animation-delay: 0s
  animation-duration: 1.5s
  animation-name: $name
